{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Settings</li>
  <li class="active">Account</li>
</ol>

<div class="page-header">
    <h2>
        Account
    </h2>
</div>


<table class="table table-hover">
<caption>
<form class="form-inline" style="float: right;" action="/supervisorserver/" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option>User Name</option>
          <option>Email</option>
          <option>Description</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" placeholder="">
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-filter"></span> Filter</button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">Edit</a></li>
    <li><a href="#">Change Password</a></li>
    <li><a href="#">Other</a></li>
  </ul>
</div>
</form>
</caption>

    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying 1 items</span>
        </td>
    </tr>
    <tr class="active">
        <th><input type="checkbox" name="check_all" id="check_all" onclick="checkAll()"></th>
        <th width="10%">User Name</th>
        <th width="30%">Email</thw>
        <th width="20%">Last Login</th>
        <th width="25%">Description</th>
        <th colspan="4" width="15%">Actions</th>
    </tr>
    <tr>
        <td><input type="checkbox" name="check_item"></td>
        <td>{{ userinfo.username }}</td>
        <td>{{ userinfo.email }}</td>
        <td>{{ userinfo.last_login }}</td>
        <td>{{ userinfo.description }}</td>
        <td>
 
          <!-- Split button -->
          <div class="btn-group">
            <a type="button" class="btn btn-default btn-sm" href="javascript:;" onclick="#">Edit</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="/changepassword/?username={{userinfo.username}}">Change Password</a></li>
            </ul>
          </div>
        </td>

    </tr>
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying 1 items</span>
        </td>
    </tr>
</table>


<script> 
//复选框的全选、取消全选功能
function checkAll() {
var all=document.getElementById('check_all');//获取到点击全选的那个复选框的id
var one=document.getElementsByName('check_item');//获取到复选框的名称
//因为获得的是数组，所以要循环 为每一个checked赋值
for(var i=0;i<one.length;i++){
one[i].checked=all.checked; //直接赋值不就行了嘛
}
}
</script>
{% endblock %}