{% extends "base.html" %}

{% block topbar %}
<li ><a href="/dockerserver/">Docker Server</a></li>
<li ><a href="/supervisorserver/">Supervisor Server</a></li>
<li><a href="/jenkinsserver/">Jenkins Server</a></li>
<li ><a href="/dirviewer/">Dir Viewer</a></li>
<li class="active"><a href="/actionslog/">Actions Log</a></li>
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        <small>controlled by django</small>
    </h1>
</div>
<h2>
    <small>actions_log</small>
</h2>
<table class="table">
    <tr class="active">
        <th width="20%">time</th>
        <th width="15%">user</thw>
        <th width="65%">detail</th>
    </tr>
    {% for log in actions_log %}
    <tr>
        <td>{{log.log_time}}</td>
        <td>{{log.log_user}}</td>
        <td>{{log.log_detail}}</td>
    </tr>
    {% endfor %}
</table>

<div>
  <span style="text-align:center; display:block;">
    <a>
        {% if actions_log.has_previous %}
            <a style="text-decoration:underline; color:inherit;" href="?page={{ actions_log.previous_page_number }}">Previous</a>
        {% endif %}
    </a>
    <a style="color:inherit;">&nbsp; < {{ actions_log.number }} / {{ actions_log.paginator.num_pages }} > &nbsp;</a>
    <a>
        {% if actions_log.has_next %}
            <a style="text-decoration:underline; color:inherit;" href="?page={{ actions_log.next_page_number }}">Next</a>
        {% endif %}
    </a>
  </span>
</div>
{% endblock %}