{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Ops Manage</li>
  <li class="active">Action Log</li>
</ol>

<div class="page-header">
    <h2>
        Action Log
    </h2>
</div>

<table class="table">
<caption>
<form class="form-inline" style="float: right;" action="/actionlog/" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option>User =</option>
          <option>Detail</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" placeholder="">
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-filter"></span> Filter</button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">Delete</a></li>
    <li><a href="#">Other</a></li>
  </ul>
</div>
</form>
</caption>
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying 10 / {{ action_log_count }} items</span>
        </td>
    </tr>
    <tr class="active">
        <th width="20%">Time</th>
        <th width="15%">User</thw>
        <th width="65%">Detail</th>
    </tr>
    {% for log in action_log %}
    <tr>
        <td>{{log.log_time}}</td>
        <td>{{log.log_user}}</td>
        <td>{{log.log_detail}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying 10 / {{ action_log_count }} items</span>
        </td>
    </tr>
</table>

<div>
  <span style="text-align:center; display:block;">
    <a>
        {% if action_log.has_previous %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ action_log.previous_page_number }}">Previous</a>
        {% endif %}
    </a>
    <a style="color:inherit;">&nbsp; < {{ action_log.number }} / {{ action_log.paginator.num_pages }} > &nbsp;</a>
    <a>
        {% if action_log.has_next %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ action_log.next_page_number }}">Next</a>
        {% endif %}
    </a>
  </span>
</div>
{% endblock %}