{% extends "base.html" %}

{% block topbar %}
<li ><a href="/dockerserver/">Docker Server</a></li>
<li ><a href="/supervisorserver/">Supervisor Server</a></li>
<li><a href="/jenkinsserver/">Jenkins Server</a></li>
<li ><a href="/dirviewer/">Dir Viewer</a></li>
<li class="active"><a href="/actionslog/">Actions Log</a></li>
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        <small>controlled by django</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            {% for server in servers %}
            <li role="presentation" style="background-color: lemonchiffon  ">
 <!--              <a href="#" onclick="show_server_status('{{server.id}}')">
                    {{server.host}}:{{server.port}} {{server.Id}}
 -->               </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8" id="server_div">
    </div>
</div>


<h3>actions_log</h3>
<table class="table">
    <tr class="active">
        <th width="20%">log_time</th>
        <th width="15%">log_user</thw>
        <th width="65%">log_detail</th>
    </tr>
    {% for log in actions_log %}
    <tr>
        <td>{{log.log_time}}</td>
        <td>{{log.log_user}}</td>
        <td>{{log.log_detail}}</td>

    </tr>
    {% endfor %}
</table>

<nav aria-label="pager">
  <ul class="pager">
    <li>{% if actions_log.has_previous %}
            <a href="?page={{ actions_log.previous_page_number }}">Previous</a>
        {% endif %}
    </li>
    <li>
    <span class="current">
            {{ actions_log.number }} / {{ actions_log.paginator.num_pages }}
        </span>
    </li>
    <li>{% if actions_log.has_next %}
            <a href="?page={{ actions_log.next_page_number }}">Next</a>
        {% endif %}
    </li>
  </ul>
</nav>
{% endblock %}
</body>
</html>