{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Settings</li>
  <li class="active">Change Password</li>
</ol>

<div class="page-header">
  <h2>Change Password</h2>
</div>

<div class="static_page">
  <h3  class="modal-header">Change password</h3>
  <div class="modal-body">
    <form class="form-horizontal" role="form" action='/changepassword/' method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-6 col-md-5">
              <p><strong>User Name </strong><span class="fa fa-asterisk"></span></p>
              <input type="text" name="username" class="form-control" readonly="readonly" value={{username}}>
              </br>
              <p><strong>Old password </strong><span class="fa fa-asterisk"></span></p>
              <input type="password" name="old_password" class="form-control" placeholder="" required autofocus>
              </br>
              <p><strong>New password </strong><span class="fa fa-asterisk"></span></p>
              <input type="password" name="new_password" class="form-control" placeholder="" required>
              </br>
              <p><strong>Confirm new password </strong><span class="fa fa-asterisk"></span></p>
              <input type="password" name="confirm_new_password" class="form-control" placeholder="" required>
              </br>
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              </br>
          </div>
          <div class="col-sm-6">
            <h3>Description:</h3>
            <p>Change your password. We highly recommend you create a strong one. </p>
          </div>
        </div>
      <div class="modal-footer"><button class="btn btn-primary" type="submit">Submit</button></div>
  </form>
</div>
</div>
{% endblock %}