{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Docker Server</li>
  <li class="active">Container Console</li>
</ol>

<div class="page-header">
  <h2>Container Console</h2>
</div>

    <script>
            var schema = window.location.protocol=='https:' ? 'wss:' : 'ws:';
            var wsurl=schema+"//"+window.location.host+window.location.pathname+window.location.search
            var socket = new WebSocket(wsurl);

  socket.onopen = function () {

    var term = new Terminal();
    term.open(document.getElementById('terms'));

    term.on('data', function (data) {
      console.log(data);
      socket.send(data);
    });

    socket.onmessage = function (msg) {
      console.log(msg);
      console.log(msg.data);
      term.write(msg.data);
    };
    socket.onerror = function (e) {
      console.log(e);
    };

    socket.onclose = function (e) {
      console.log(e);
      term.destroy();
    };
  };

</script>

<h5>{{name}}@{{server_ip}}</h5>

<div id='terms'>
    
</div>

{% endblock %}