{% extends "base.html" %}

{% block topbar %}
<li ><a href="/dockerserver/">Docker Server</a></li>
<li ><a href="/supervisorserver/">Supervisor Server</a></li>
<li><a href="/jenkinsserver/">Jenkins Server</a></li>
<li class="active"><a href="/dirviewer/">Dir Viewer</a></li>
<li ><a href="/actionslog/">Actions Log</a></li>
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        <small>controlled by django</small>
    </h1>
</div>
<h2>
    <small>{{current_dir}}</small>
</h2>
<table class="table">
    <tr class="active">
        <th width="40%">name</th>
        <th width="25%">size</thw>
        <th width="25%">mtime</th>
        <th colspan="4" width="10%">operation</th>
    </tr>
    {% for dir_info in dir_infos %}
    {% if dir_info.isdir == 1  %}
    <tr>
        <td>
        <span class="fa fa-folder-o">
            <a href="?dist={{current_dir}}{{dir_info.file_name}}"</a>
            {{dir_info.file_name}}
        </span>
        </td>
        <td>{{dir_info.file_size}}</td>
        <td>{{dir_info.mtime}}</td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#" onclick="dir_viewer('{{dir_info.file_name}}', '{{current_dir}}')">
                open
            </a>
        </td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#">
                download
            </a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}

    {% for dir_info in dir_infos %}
    {% if dir_info.isdir == 0  %}
    <tr>
        <td>
        <span class="fa fa-file-text-o">
            <a href="/textviewer/?dist={{current_dir}}{{dir_info.file_name}}"</a>
        {{dir_info.file_name}}
        </span>
        </td>
        <td>{{dir_info.file_size}}</td>
        <td>{{dir_info.mtime}}</td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#" onclick="text_viewer('{{dir_info.file_name}}', '{{current_dir}}')">
                open
            </a>
        </td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#" onclick="file_download('{{dir_info.file_name}}', '{{current_dir}}')">
                download
            </a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}