{% extends "base.html" %}

{% block sidebar %}
  <a class="list-group-item" href="/dockerserver/">Docker Server</a>
  <a class="list-group-item" href="/supervisorserver/">Supervisor Server</a>
  <a class="list-group-item" href="/jenkinsserver/">Jenkins Server</a>
  <a class="list-group-item active" href="/dirviewer/">Directory Viewer</a>
  <a class="list-group-item" href="/actionslog/">Action Log</a>
  <a class="list-group-item" href="/settings/">Settings</a>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Directory Viewer</li>
</ol>

<div class="page-header">
    <h2>
        Controlled by django
    </h2>
</div>
<h4>
    &nbsp;{{current_dir}}
</h4>
<table class="table table-hover">
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying {{ dir_infos_count }} items</span>
        </td>
    </tr>
    <tr class="active">
        <th width="40%">name</th>
        <th width="25%">size</thw>
        <th width="25%">mtime</th>
        <th colspan="4" width="10%">operation</th>
    </tr>
    {% for dir_info in dir_infos %}
    {% if dir_info.isdir == 1  %}
    <tr>
        <td>
        <span class="fa fa-folder-o">
            <a style="color:inherit;" href="?dist={{current_dir}}{{dir_info.file_name}}"</a>
            {{dir_info.file_name}}
        </span>
        </td>
        <td>{{dir_info.file_size}}</td>
        <td>{{dir_info.mtime}}</td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="/dirviewer/?dist={{current_dir}}{{dir_info.file_name}}">
                open
            </a>
        </td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#">
                download
            </a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}

    {% for dir_info in dir_infos %}
    {% if dir_info.isdir == 0  %}
    <tr>
        <td>
        <span class="fa fa-file-text-o">
            <a a style="color:inherit;" href="/textviewer/?dist={{current_dir}}{{dir_info.file_name}}"</a>
        {{dir_info.file_name}}
        </span>
        </td>
        <td>{{dir_info.file_size}}</td>
        <td>{{dir_info.mtime}}</td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="/textviewer/?dist={{current_dir}}{{dir_info.file_name}}">
                open
            </a>
        </td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="/filedownload/?filepath={{current_dir}}{{dir_info.file_name}}">
                download
            </a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying {{ dir_infos_count }} items</span>
        </td>
    </tr>
</table>

{% endblock %}