{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Home</li>
  <li>Server Action</li>
  <li class="active">Docker Server</li>
</ol>

<div class="page-header">
    <h2>
        Controlled by docker
    </h2>
</div>

<table class="table table-hover">
<caption>
<form class="form-inline" style="float: right;" action="/dockerserver/" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option>Status =</option>
          <option  selected="selected">App</option>
          <option>Location</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" placeholder="">
  </div>
  <button type="submit" class="btn btn-default">Filter</button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">Restart Container</a></li>
    <li><a href="#">Start Container</a></li>
    <li><a href="#">Stop Container</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Other</a></li>
  </ul>
</div>
</form>
</caption>
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying {{ container_count }} items</span>
        </td>
    </tr>
    <tr class="active">
        <th><input type="checkbox"></th>
        <th width="10%">Status</th>
        <th width="30%">App</thw>
        <th width="20%">Location</th>
        <th width="25%">Description</th>
        <th colspan="4" width="15%">Actions</th>
    </tr>
    {% for container in container_list %}
    <tr>
        <td>
            <input type="checkbox">
        </td>
        <td style="text-transform:capitalize;">
            {{container.status|lower}}
        </td>
        <td>{{container.name}}</td>
        <td>{{container.host_ip}}</td>
        <td>{{container.apistatus|lower}}</td>
        <td>
          
          <!-- Split button -->
          <div class="btn-group">
            <a type="button" class="btn btn-default btn-sm" href="javascript:void(0);" onclick="container_opt('{{container.host_ip}}','{{container.host_port}}','{{container.id}}','{{container.name}}','restart')">Restart</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="javascript:void(0);" onclick="container_opt('{{container.host_ip}}','{{container.host_port}}','{{container.id}}','{{container.name}}','start')">Start Container</a></li>
              <li><a href="javascript:void(0);" onclick="container_opt('{{container.host_ip}}','{{container.host_port}}','{{container.id}}','{{container.name}}','stop')">Stop Container</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/tail_container_log/?server_ip={{container.host_ip}}&server_port={{container.host_port}}&container_id={{container.id}}" target="_blank">Tail Log</a></li>
            </ul>
          </div>

        </td>

    </tr>
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying {{ container_count }} items</span>
        </td>
    </tr>

</table>


{% endblock %}