{% extends "base.html" %}

{% block topbar %}
<li class="active"><a href="/dockerserver/">Docker Server</a></li>
<li ><a href="/supervisorserver/">Supervisor Server</a></li>
<li><a href="/jenkinsserver/">Jenkins Server</a></li>
<li ><a href="/dirviewer/">Dir Viewer</a></li>
<li ><a href="/actionslog/">Actions Log</a></li>
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        <small>controlled by docker</small>
    </h1>
</div>

{% for server in server_all_list %}
<h2>
    <small>Server: {{server.ip}} </small>
</h2>
<table class="table">
    <tr class="active">
        <th width="10%">status</th>
        <th width="30%">app</thw>
        <th width="20%">location</th>
        <th width="25%">description</th>
        <th colspan="4" width="15%">operation</th>
    </tr>
    {% for container in server.containers %}
    <tr>
        <td>
            {% if container.status == 'running' %}
                <span style="background-color: #E0E0E0">
                 {% elif container.status == 'exited' %}
                <span style="background-color: #C0C0C0">
                 {% else %}
                <span>
                    {% endif %}
                    {{container.status|lower}}
                </span>
        </td>
        <td>{{container.name}}</td>
        <td>{{server.ip}}</td>
        <td>{{container.apistatus|lower}}</td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#" onclick="container_opt('{{server.ip}}', '{{server.port}}' , '{{container.id}}', '{{container.name}}', 'start')">
                start
            </a>
        </td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="#" onclick="container_opt('{{server.ip}}', '{{server.port}}',  '{{container.id}}', '{{container.name}}', 'restart')">    
                restart
            </a>
        </td>
        <td>

            <a style="text-decoration:underline; color:inherit;" href="#" onclick="container_opt('{{server.ip}}', '{{server.port}}',  '{{container.id}}', '{{container.name}}', 'stop')">
                stop
            </a>
        </td>
        <td>
            <a style="text-decoration:underline; color:inherit;" href="/tail_container_log/?server_ip={{server.ip}}&server_port={{server.port}}&container_id={{container.id}}">
                tail
            </a>
        </td>

    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}