{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>运维管理</li>
  <li class="active">Jenkins任务</li>
</ol>

<div class="page-header">
    <h2>
      Jenkins任务
    </h2>
</div>

<table class="table table-hover">
<caption>
<form class="form-inline" style="float: right;" action="/jenkins/job_list" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option {% if filter_select == "Status =" %} selected="selected" {% endif %}>状态 =</option>
          <option {% if filter_select == "Name" or filter_select == "" %} selected="selected" {% endif %}>名称</option>
          <option {% if filter_select == "Host" %} selected="selected" {% endif %}>位置</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" value="{{filter_keyword}}" placeholder="">
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-filter"></span> 过滤</button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    更多操作 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">执行任务</a></li>
    <li><a href="#">任务日志</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">其他</a></li>
  </ul>
</div>
</form>
</caption>
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">显示 {{ curent_page_size }} / {{ job_list.paginator.count }} 项目</span>
        </td>
    </tr>
    <tr class="active">
        <th><input type="checkbox" name="check_all" id="check_all" onclick="checkAll()"></th>
        <th width="10%">状态</th>
        <th width="30%">名称</thw>
        <th width="20%">主机</th>
        <th width="25%">详情</th>
        <th colspan="4" width="15%">操作</th>
    </tr>
    {% for job in job_list %}
    <tr>
        <td><input type="checkbox" name="check_item"></td>
        <td style="text-transform:capitalize;">
            {{job.color|lower}}
        </td>
        <td>{{job.name}}</td>
        <td>{{job.host}}</td>
        <td>{{app.description|lower}}</td>
        <td>

          <!-- Split button -->
          <div class="btn-group">
            <a type="button" class="btn btn-default btn-sm" href="javascript:;" onclick="jenkins_job_opt('{{job.host}}','{{job.host_port_api}}','{{job.name}}','build')">Build Job</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="javascript:;" onclick="jenkins_job_opt('{{job.host}}','{{job.host_port_api}}','{{job.name}}','build')">Build Job</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" target="_blank">Console Output</a></li>
            </ul>
          </div>
        </td>

    </tr>
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">显示 {{ curent_page_size }} / {{ job_list.paginator.count }} 项目</span>
        </td>
    </tr>
</table>

<div>
  <span style="text-align:center; display:block;">
    <a>
        {% if job_list.has_previous %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ job_list.previous_page_number }}">Previous</a>
        {% endif %}
    </a>
    <a style="color:inherit;">&nbsp; < {{ job_list.number }} / {{ job_list.paginator.num_pages }} > &nbsp;</a>
    <a>
        {% if job_list.has_next %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ job_list.next_page_number }}">Next</a>
        {% endif %}
    </a>
  </span>
</div>

<script> 
//复选框的全选、取消全选功能
function checkAll() {
var all=document.getElementById('check_all');//获取到点击全选的那个复选框的id
var one=document.getElementsByName('check_item');//获取到复选框的名称
//因为获得的是数组，所以要循环 为每一个checked赋值
for(var i=0;i<one.length;i++){
one[i].checked=all.checked; //赋值
}
}
</script>
{% endblock %}