{% extends "base.html" %}
{% block hovor %}
<ul class="nav nav-pills">
	<li role="presentation"><a href="/docker_server/">Docker Server</a></li>
    <li role="presentation"><a href="/supervisor_server/">Supervisor Server</a></li>
    <li role="presentation" class="active"><a href="/logdir_viewer/">Logdir Viewer</a></li>
</ul>
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>
        <small>controlled by supervisor</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            {% for server in servers %}
            <li role="presentation" style="background-color: lemonchiffon  ">
 <!--              <a href="#" onclick="show_server_status('{{server.id}}')">
                    {{server.host}}:{{server.port}} {{server.Id}}
 -->               </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8" id="server_div">
    </div>
</div>



<table class="table table-striped">
    <tr>
        <th width="40%">name</th>
        <th width="25%">size</thw>
        <th width="25%">mtime</th>
        <th colspan="4" width="10%">operation</th>
    </tr>
    {% for logdir_info in logdir_infos %}
    <tr>
        <td>
        {% if logdir_info.isdir == 1  %}
        <span style="background-color: lightgreen">
        {{logdir_info.file_name}}/
        {% else %}
        <span style="background-color: lightgray">
        {{logdir_info.file_name}}
        {% endif %}
        </span>
        </td>
        <td>{{logdir_info.file_size}} MB</td>
        <td>{{logdir_info.mtime}}</td>
        <td>
            <button class="btn btn-primary btn-xs"
                    onclick="supervisor_app_opt('{{server.ip}}', '{{server.port}}' , '{{app.name}}', 'start')">
                open
            </button>
        </td>
        <td>
            <button class="btn btn-primary btn-xs"
                    onclick="supervisor_app_opt('{{server.ip}}', '{{server.port}}' , '{{app.name}}', 'restart')">
                download
            </button>
        </td>


    </tr>
    {% endfor %}
</table>

{% endblock %}
</body>
</html>