{% extends "base.html" %}

{% block sidebar %}
  <a class="list-group-item" href="/dockerserver/">Docker Server</a>
  <a class="list-group-item" href="/supervisorserver/">Supervisor Server</a>
  <a class="list-group-item" href="/jenkinsserver/">Jenkins Server</a>
  <a class="list-group-item" href="/dirviewer/">Dir Viewer</a>
  <a class="list-group-item" href="/actionslog/">Actions Log</a>
  <a class="list-group-item  active" href="/settings/">Settings</a>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Settings</li>
</ol>

<div class="page-header">
  <h2>User profile</h2>
</div>


<form class="form-horizontal" role="form" action='/passwordchange/' method="post">
{% csrf_token %}
<div class="container">
  <div class="row myCenter">
    <div class="col-xs-6 col-md-3 col-center-block">
      <form class="form-signin">
        <h2 class="form-signin-heading">Change password</h2>
        </br>
        <p>Old password</p>
        <input type="password" name="old_password" class="form-control" placeholder="" required autofocus>
        </br>
        <p>New password</p>
        <input type="password" name="new_password" class="form-control" placeholder="" required>
        </br>

        <p>Confirm new password</p>
        <input type="password" name="confirm_new_password" class="form-control" placeholder="" required>
        </br>

        </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update password</button>
        </br>
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
</form>

{% endblock %}