{% extends "base.html" %}

{% block sidebar %}
  <a class="list-group-item" href="/dockerserver/">Docker Server</a>
  <a class="list-group-item" href="/supervisorserver/">Supervisor Server</a>
  <a class="list-group-item" href="/jenkinsserver/">Jenkins Server</a>
  <a class="list-group-item" href="/dirviewer/">Directory Viewer</a>
  <a class="list-group-item" href="/actionslog/">Actions Log</a>
  <a class="list-group-item  active" href="/settings/">Settings</a>
{% endblock %}

{% block body %}


<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Settings</li>
</ol>

<div class="page-header">
    <h2>
        Controlled by django
    </h2>
</div>

<h2>
    <small>User profile</small>
</h2>
<div class="flex-center">
    <div class="container">
            <h2 class="logo">password change done！</h2>
    </div>
</div>

{% endblock %}