{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Admin</li>
  <li class="active">Add Server</li>
</ol>

<div class="page-header">
  <h2>Edit Server</h2>
</div>

<div class="static_page">
  <h3  class="modal-header">Edit Server</h3>
  <div class="modal-body">
    <form class="form-horizontal" role="form" action='/server/server_update' method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-6 col-md-5">
              <p><strong>Host </strong><span class="fa fa-asterisk"></span></p>
              <input type="text" name="host" class="form-control" value={{server.host}} readonly="readonly" required>
              </br>
              <p><strong>Server Type </strong><span class="fa fa-asterisk"></span></p>
              <select class="form-control" name="server_type" readonly="readonly">
                <option>{{server_type}}</option>
              </select>
              </br>
              <p><strong>Port </strong> </strong><span class="fa fa-asterisk"></span></p>
              <input type="text" name="port" class="form-control" value={{server.port}}>
              </br>
              <p><strong>User Name </strong></p>
              <input type="text" name="username" class="form-control" value={{server.username}}>
              </br>
              <p><strong>Password </strong></span></p>
              <input type="password" name="password" class="form-control">
              </br>
              <p><strong>API User Name </strong></p>
              <input type="text" name="username_api" class="form-control" value={{server.username_api}}>
              </br>
              <p><strong>API Password </strong></span></p>
              <input type="password" name="password_api" class="form-control">
              </br>
              <p><strong>API Port </strong></p>
              <input type="text" name="port_api" class="form-control" value={{server.port_api}}>
              </br>
              <p><strong>API Protocal </strong></p>
              <input type="text" name="protocal_api" class="form-control" value={{server.protocal_api}}>
              </br>
              <p><strong>Description </strong></p>
              <input type="text" name="description" class="form-control" value="{{server.description}}">
              </br>
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              </br>
          </div>
          <div class="col-sm-6">
            <h3>Description:</h3>
            <p>Edit a server and modify related properties</p>
          </div>
        </div>
      <div class="modal-footer"><button class="btn btn-primary" type="submit">Submit</button></div>
  </form>
</div>
</div>
{% endblock %}