{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>系统管理</li>
  <li class="active">服务器列表</li>
</ol>

<div class="page-header">
    <h2>
      服务器列表
    </h2>
</div>

<table class="table table-hover">
<caption>
<form class="form-inline" style="float: right;" action="/server/server_list" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option {% if filter_select == "Status =" or filter_select == "" %} selected="selected" {% endif %}>状态 =</option>
          <option {% if filter_select == "Host" %} selected="selected" {% endif %}>主机</option>
          <option {% if filter_select == "Port =" %} selected="selected" {% endif %}>端口 =</option>
          <option {% if filter_select == "Type =" %} selected="selected" {% endif %}>类型 =</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" value="{{filter_keyword}}" placeholder="">
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-filter"></span> 过滤</button>
  <button class="btn btn-default"><a class="fa fa-plus" href="/server/server_create" style="text-decoration:none; color: inherit;"> 创建服务器</a></button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    更多操作 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">编辑</a></li>
    <li><a style="color: red;" href="#">删除</a></li>
  </ul>
</div>
</form>
</caption>
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">显示 {{ curent_page_size }} / {{ server_list.paginator.count }} 项目</span>
        </td>
    </tr>
    <tr class="active">
        <th><input type="checkbox" name="check_all" id="check_all" onclick="checkAll()"></th>
        <th width="15%">状态</th>
        <th width="15%">主机</th>
        <th width="10%">端口</th>
        <th width="15%">类型</th>
        <th width="30%">详情</th>
        <th colspan="4" width="15%">操作</th>
    </tr>
    {% for server in server_list %}
    <tr>
        <td><input type="checkbox" name="check_item"></td>
        <td>{{server.status}}</td>
        <td>{{server.host}}</td>
        <td>{{server.port}}</td>
        <td>{{server.server_type}}</td>
        <td>{{server.description}}</td>
        <td>
          
          <!-- Split button -->
          <div class="btn-group">
            <a type="button" class="btn btn-default btn-sm" href="/server/server_update?host={{server.host}}&server_type={{server.server_type}}">Edit</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a style="color: red;" href="/server/server_delete?host={{server.host}}&server_type={{server.server_type}}">Delete Server</a></li>
            </ul>
          </div>

        </td>

    </tr>
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">显示 {{ curent_page_size }} / {{ server_list.paginator.count }} 项目</span>
        </td>
    </tr>

</table>

<div>
  <span style="text-align:center; display:block;">
    <a>
        {% if server_list.has_previous %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ server_list.previous_page_number }}">Previous</a>
        {% endif %}
    </a>
    <a style="color:inherit;">&nbsp; < {{ server_list.number }} / {{ server_list.paginator.num_pages }} > &nbsp;</a>
    <a>
        {% if server_list.has_next %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ server_list.next_page_number }}">Next</a>
        {% endif %}
    </a>
  </span>
</div>

<script> 
//复选框的全选、取消全选功能
function checkAll() {
var all=document.getElementById('check_all');//获取到点击全选的那个复选框的id
var one=document.getElementsByName('check_item');//获取到复选框的名称
//因为获得的是数组，所以要循环 为每一个checked赋值
for(var i=0;i<one.length;i++){
one[i].checked=all.checked; //赋值
}
}
</script>

{% endblock %}

