{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Admin</li>
  <li class="active">Server Create</li>
</ol>

<div class="page-header">
  <h2>Server Create</h2>
</div>

<div class="static_page">
  <h3  class="modal-header">Server Create</h3>
  <div class="modal-body">
    <form class="form-horizontal" role="form" action='/server/server_create' method="post">
      {% csrf_token %}
        <div class="row">
          <div class="col-sm-6 col-md-5">
              <p><strong>Host </strong><span class="fa fa-asterisk"></span></p>
              <input type="text" name="host" class="form-control" placeholder="" required autofocus>
              </br>
              <p><strong>Server Type </strong><span class="fa fa-asterisk"></span></p>
              <select class="form-control" name="server_type">
                <option>Docker</option>
                <option>Supervisor</option>
                <option>Jenkins</option>
              </select>
              </br>
              <p><strong>Port </strong> </strong><span class="fa fa-asterisk"></span></p>
              <input type="text" name="port" class="form-control" value ="22">
              </br>
              <p><strong>User Name </strong></p>
              <input type="text" name="username" class="form-control">
              </br>
              <p><strong>Password </strong></span></p>
              <input type="password" name="password" class="form-control">
              </br>
              <p><strong>API User Name </strong></p>
              <input type="text" name="username_api" class="form-control">
              </br>
              <p><strong>API Password </strong></span></p>
              <input type="password" name="password_api" class="form-control">
              </br>
              <p><strong>API Port </strong></p>
              <input type="text" name="port_api" class="form-control" value="0">
              </br>
              <p><strong>API Protocal </strong></p>
              <input type="text" name="protocal_api" class="form-control">
              </br>
              <p><strong>Description </strong></p>
              <input type="text" name="description" class="form-control">
              </br>
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              </br>
          </div>
          <div class="col-sm-6">
            <h3>Description:</h3>
            <p>Create new server and set related properties</p>
          </div>
        </div>
      <div class="modal-footer"><button class="btn btn-primary" type="submit">Submit</button></div>
  </form>
</div>
</div>
{% endblock %}