{% extends "base.html" %}

{% block sidebar %}
  <a class="list-group-item" href="/dockerserver/">Docker Server</a>
  <a class="list-group-item" href="/supervisorserver/">Supervisor Server</a>
  <a class="list-group-item" href="/jenkinsserver/">Jenkins Server</a>
  <a class="list-group-item" href="/dirviewer/">Directory Viewer</a>
  <a class="list-group-item" href="/actionslog/">Action Log</a>
  <a class="list-group-item  active" href="/settings/">Settings</a>
{% endblock %}

{% block body %}


<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Settings</li>
</ol>

<div class="page-header">
    <h2>
        Controlled by django
    </h2>
</div>

<h2>
    <small>User profile</small>
</h2>
<table class="table">
<tr>
	<td><li>Username：{{ userinfo.username }}<a href="/passwordchange/">&nbsp;&nbsp;&nbsp;Change password</a></li></td>
</tr>
<tr>
	<td>
	<li>Email：{{ userinfo.email }}</li>
	</td>
</tr>
<tr>
	<td>
	<li>Last Login：{{ userinfo.last_login }}</li>
	</td>
</tr>
<tr>
	<td>
	<li>Date joined：{{ userinfo.date_joined }}</li>
	</td>
</tr>
</table>

{% endblock %}