<nav class="navbar-default" role="navigation">

<ul class="nav nav-pills nav-stacked">
  <li>
    <a data-toggle="collapse" href="#collapse-server-action" aria-expanded="false" aria-controls="collapse-server-action" style="color: inherit;" >
            Server Action
        <span class="fa fa-chevron-right pull-right"></span>    
    </a>
    <ul class="nav panel-collapse collapse" id="collapse-server-action">
      <li ><a id="nav-dockerserver" style="text-align: right;" href="/dockerserver/">Docker Server</a></li>
      <li ><a id="nav-supervisorserver" style="text-align: right;" href="/supervisorserver/">Supervisor Server</a></li>
    </ul>

  </li>

  <li>
    <a data-toggle="collapse" href="#collapse-ops-manage" aria-expanded="false" aria-controls="collapse-ops-manage" style="color: inherit;" >
            Ops Manage
        <span class="fa fa-chevron-right pull-right"></span>
    </a>
    <ul class="nav panel-collapse collapse" id="collapse-ops-manage">
      <li ><a id="nav-jenkinsserver" style="text-align: right;" href="/jenkinsserver/">Jenkins Server</a></li>
      <li ><a id="nav-dirviewer" style="text-align: right;" href="/dirviewer/">Directory Viewer</a></li>
      <li ><a id="nav-actionlog" style="text-align: right;" href="/actionlog/">Action Log</a></li>
    </ul>
  </li>

  <li>
    <a data-toggle="collapse" href="#collapse-setting" aria-expanded="false" aria-controls="collapse-setting" style="color: inherit;" >
            Settings
        <span class="fa fa-chevron-right pull-right"></span>
    </a>
    <ul class="nav panel-collapse collapse" id="collapse-setting">
      <li ><a id="nav-account" style="text-align: right;" href="/account/">Account</a></li>
      <li ><a id="nav-system" style="text-align: right;" href="/system/">System</a></li>
      <li ><a id="nav-serverlist" style="text-align: right;" href="/serverlist/">Server List</a></li>
    </ul>
  </li>
</ul>

</nav>

<style type="text/css">
  a{color: inherit;}
</style>

