{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Server Action</li>
  <li class="active">Supervisor Server</li>
</ol>

<div class="page-header">
    <h2>
        Controlled by supervisor
    </h2>
</div>

<table class="table table-hover">
<caption>
<form class="form-inline" style="float: right;" action="/supervisorserver/" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option>Status =</option>
          <option  selected="selected">App</option>
          <option>Location</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" placeholder="">
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-filter"></span> Filter</button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#">Restart App</a></li>
    <li><a href="#">Start App</a></li>
    <li><a href="#">Stop App</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Other</a></li>
  </ul>
</div>
</form>
</caption>

    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying {{ app_count }} items</span>
        </td>
    </tr>
    <tr class="active">
        <th><input type="checkbox"></th>
        <th width="10%">Status</th>
        <th width="30%">App</thw>
        <th width="20%">Location</th>
        <th width="25%">Description</th>
        <th colspan="4" width="15%">Actions</th>
    </tr>
    {% for app in app_list %}
    <tr>
        <td>
            <input type="checkbox">
        </td>
        <td style="text-transform:capitalize;">
            {{app.statename|lower}}
        </td>
        <td>{{app.name}}</td>
        <td>{{app.host_ip}}</td>
        <td>{{app.description|lower}}</td>
        <td>
 
          <!-- Split button -->
          <div class="btn-group">
            <a type="button" class="btn btn-default btn-sm" href="javascript:void(0);" onclick="supervisor_app_opt('{{app.host_ip}}','{{app.host_port}}','{{app.name}}','restart')">Restart</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="javascript:void(0);" onclick="supervisor_app_opt('{{app.host_ip}}','{{app.host_port}}','{{app.name}}','start')">Start App</a></li>
              <li><a href="javascript:void(0);" onclick="supervisor_app_opt('{{app.host_ip}}','{{app.host_port}}','{{app.name}}','stop')">Stop App</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/tail_supervisor_app_log/?server_ip={{app.host_ip}}&server_port={{app.host_port}}&supervisor_app={{app.name}}" target="_blank">Tail Log</a></li>
            </ul>
          </div>
        </td>

    </tr>
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">Displaying {{ app_count }} items</span>
        </td>
    </tr>
</table>
{% endblock %}
</body>
</html>