{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>Server Action</li>
  <li class="active">Tail Log</li>
</ol>

<div class="page-header">
  <h2>Tail Log</h2>
</div>


<script type="text/javascript">
var wsurl="ws://"+window.location.host+window.location.pathname+window.location.search
console.log(wsurl)

 $(function () {
        window.onload=function () {
            if (window.s) {
                window.s.close()
            }
            /*创建socket连接*/
            var socket = new WebSocket(wsurl);
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
            };
            socket.onmessage = function (e)  {
                $('#messagecontainer').append('<p style="word-break: break-all;">' + e.data + '</p>');
                var now = new Date(); //实现自动滚动到底部
                var div = document.getElementById('messagecontainer'); //实现自动滚动到底部
                div.scrollTop = div.scrollHeight; //实现自动滚动到底部
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;
        };

    });
</script>

<h5>{{name}}@{{server_ip}}</h5>

<div>
    <pre style="background: white;">
	   <div id="messagecontainer" style="height:500px; overflow:auto">
    </pre>
</div>

{% endblock %}