{% extends "base.html" %}

{% block sidebar %}
  <a class="list-group-item" href="/dockerserver/">Docker Server</a>
  <a class="list-group-item" href="/supervisorserver/">Supervisor Server</a>
  <a class="list-group-item" href="/jenkinsserver/">Jenkins Server</a>
  <a class="list-group-item" href="/dirviewer/">Directory Viewer</a>
  <a class="list-group-item active" href="/actionslog/">Action Log</a>
  <a class="list-group-item" href="/settings/">Settings</a>
{% endblock %}

{% block body %}

{% for text_content in text_contents %}
	{{ text_content }}<br/>      
{% endfor %}

{% endblock %}
