{% extends "base.html" %}

{% block body %}

<ol class="breadcrumb">
  <li>系统管理</li>
  <li class="active">用户列表</li>
</ol>

<div class="page-header">
    <h2>
        用户列表
    </h2>
</div>

<table class="table table-hover">
<caption>
<form class="form-inline" style="float: right;" action="/account/user_list" method="post">
 {% csrf_token %}
  <div class="form-group">
    <p class="form-control-static">
        <select class="form-control" name="filter_select">
          <option {% if filter_select == "User Name =" or filter_select == "" %} selected="selected" {% endif %}>用户名称 =</option>
          <option {% if filter_select == "Email" %} selected="selected" {% endif %}>电子邮箱</option>
          <option {% if filter_select == "Superuser" %} selected="selected" {% endif %}>超级用户</option>
          <option>详情</option>
        </select>
    </p>
    <input type="text" class="form-control" name="filter_keyword" value="{{filter_keyword}}">
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-filter"></span> 过滤</button>
  <button class="btn btn-default"><a class="fa fa-plus" href="/account/user_create" style="text-decoration:none; color: inherit;">  创建用户</a></button>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    更多操作 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a style="color: red;" href="#">删除</a></li>
    <li><a href="#">其他</a></li>
  </ul>
</div>
</form>
</caption>
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">显示 {{ curent_page_size }} / {{ user_list.paginator.count }} 项目</span>
        </td>
    </tr>
    <tr class="active">
        <th><input type="checkbox" name="check_all" id="check_all" onclick="checkAll()"></th>
        <th width="15%">用户名称</th>
        <th width="20%">电子邮箱</thw>
        <th width="15%">角色</thw>
        <th width="35%">详情</th>
        <th width="15%">操作</th>
    </tr>
    {% for user in user_list %}
    <tr>
        <td><input type="checkbox" name="check_item"></td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.description}}</td>
        <td>
 
          <!-- Split button -->
          <div class="btn-group">
            <a type="button" class="btn btn-default btn-sm" href="javascript:;" onclick="#">编辑</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="/account/password_reset?username={{user.username}}">重置密码</a></li>
              <li><a style="color: red;" href="/account/user_delete?username={{user.username}}">删除用户</a></li>
            </ul>
          </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="12" data-column="0">
            <span class="table_count">显示 {{ curent_page_size }} / {{ user_list.paginator.count }} 项目</span>
        </td>
    </tr>
</table>

<div>
  <span style="text-align:center; display:block;">
    <a>
        {% if user_list.has_previous %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ user_list.previous_page_number }}">Previous</a>
        {% endif %}
    </a>
    <a style="color:inherit;">&nbsp; < {{ user_list.number }} / {{ user_list.paginator.num_pages }} > &nbsp;</a>
    <a>
        {% if user_list.has_next %}
            <a style="text-decoration:underline; color:inherit;" href="{{ page_prefix }}{{ user_list.next_page_number }}">Next</a>
        {% endif %}
    </a>
  </span>
</div>

<script> 
//复选框的全选、取消全选功能
function checkAll() {
var all=document.getElementById('check_all');//获取到点击全选的那个复选框的id
var one=document.getElementsByName('check_item');//获取到复选框的名称
//因为获得的是数组，所以要循环 为每一个checked赋值
for(var i=0;i<one.length;i++){
one[i].checked=all.checked; //直接赋值
}
}
</script>

{% endblock %}